<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roumeliotis.tagit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tagitroundlauncher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tagitroundlauncher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:label=" ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".CreateGame"
            android:label="CREATE GAME">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreateGame" />
        </activity>
        <activity
            android:name=".JoinGame"
            android:label="JOIN GAME">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JoinGame" />
        </activity>
        <activity android:name=".SignInActivity"></activity>
        <activity
            android:name=".GameHints"
            android:label="Game Hints">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GameHints" />
        </activity>
        <activity
            android:name=".GameWon"
            android:label="Game Won">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GameWon" />
        </activity>
        <activity
            android:name=".GameOver"
            android:label="Game Over">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GameOver" />
        </activity>
        <activity
            android:name=".ScanHint"
            android:label="Scan Hint">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScanHint" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>